@font-face {
    font-family: meineschriftart;
    src: url(merienda/Merienda-Regular.ttf)
}

body{
    background-color: lavender;
    font-family: meineschriftart;
}

@font-face {
    font-family: ueberschrift;
    src: url(avocado-creamy/Avocado\ Creamy.ttf);
}

#kopf {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url(candy-background.jpg);
    margin-top: -20px;
    z-index: 5;
    position: relative;
}

#kopf h1 {
    font-family: ueberschrift;
    text-align: center;
    font-size: 150px;
    position: relative;
}

@media screen and (max-width: 600px){
    #kopf h1 {
        font-size: 100px;
    }
}

.menu {
    position: relative;
    z-index: 20;
    padding-bottom: 400px;
    margin-top: -400px;
    text-align: right;
    margin-right: 60px;
}

@media screen and (max-width: 600px){
    .menu {
        margin-top: -350px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .menu {
        margin-top: -550px;
        padding-bottom: 600px;
    }
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    opacity: 0.5;
}

h1 {
    color: purple;
}

.rittersport {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.artikel {
    width: 20%;
    height: 350px;
    text-align: center;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: purple;
    border: 1;
    float: left;
}

@media screen and (max-width: 600px){
    .artikel {
        width: 90%;
        height: 500px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .artikel {
        width: 40%;
        height: 400px;
    }
}

.artikel button {
    font-size: 100%;
    background-color: rgb(173, 233, 173);
    border: none;
    cursor: pointer;
}

#preis {
    font-size: 150%;
    color: rgb(231, 64, 100);
}

.oreo {
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}
