body {
    background-image: url(hintergrund.png);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.circle {
    margin-top: -100px;
    width: 1000px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 600px 600px 0px 0px;
    background-color: #be2308;
    transform-origin: center;
    transform: rotate(180deg);
    position: relative;
    z-index: 5;
}

#kopf {
    text-align: center;
    margin-top: -400px;
    font-size: 90pt;
    color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    position: relative;
    z-index: 10;
}

#kopf2 {
    text-align: center;
    margin-top: -80px;
    font-size: 40pt;
    color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    position: relative;
    z-index: 10;
}

nav {
   position: fixed;
   top: 0;
   right: 0;
   margin-right: 40px;
   text-align: center;
   z-index: 20;
}

#current {
    color: #be2308;
    text-decoration: none;
    border-left:2px solid white;
    border-right:2px solid white;
}

.navlinks {
    text-decoration: none;
    color: white;
    border-left:2px solid white;
    border-right:2px solid white;
}

.nav {
    width: 250px;
    height: 25px;
    background-color: black;
    
}

.extralink {
    text-decoration: none;
    color: white;
}

.fotos {
    color: #be2308;
    margin-top: 250px;
}