body {
    background-image: url(hintergrund.png);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.circle {
    margin-top: -100px;
    width: 1000px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 600px 600px 0px 0px;
    background-color: #be2308;
    transform-origin: center;
    transform: rotate(180deg);
    position: relative;
    z-index: 0;
}

#kopf {
    text-align: center;
    margin-top: -400px;
    font-size: 90pt;
    color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    position: relative;
    z-index: 10;
}

#kopf2 {
    text-align: center;
    margin-top: -80px;
    font-size: 40pt;
    color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    position: relative;
    z-index: 10;
}

nav {
   position: fixed;
   top: 0;
   right: 0;
   margin-right: 40px;
   text-align: center;
   z-index: 20;
}

#current {
    color: #be2308;
    text-decoration: none;
}

.navlinks {
    text-decoration: none;
    color: white;
    border-left:2px solid white;
    border-right:2px solid white;
}

.nav {
    width: 250px;
    height: 25px;
    background-color: black;
    
}

.extralink {
    text-decoration: none;
    color: white;
}

.fotos {
    margin-top: 100px;
}

h3 {
    font-style: italic;
    color: #be2308;
}

h2 {
    color: #be2308;
    text-decoration: underline;
}

.videos {
    margin-top: 50px;
}

.boxen {
    text-align: left;
    margin-left: 575px;
}

hr {
    color: #be2308;
    border-bottom: 2px solid;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #be2308;
}

.logos {
    position: relative;
    z-index: 10;
    margin-top: 70px;
}

.logo1:hover {
   transform: scale(1.3);
}

.inhalt {
    margin-top: 75px;
}

.ne {
    color: #be2308;
}

#kontakt {
    margin-top: 100px;
    text-align: left;
    color: rgb(158, 158, 158);
}

.feld {
    background-color: rgb(158, 158, 158);
}

::placeholder {
    color: white;
}

#senden {
    color: white;
}

#extraÜberschrift{
    text-align: left;
}